$bg-color-app : #DEDEDE;
$bg-card-color : #FFF;
$header-color : #2A2B2E;

$color-txt : #2A2B2E;
$color-txt-second : #FFF;

$border-color : #2A2B2E;
$border-color-card: #62AB37;


$remove-btn : #F10F0F;
$copy-btn : #D17B0F;
$create-btn : #1f41a7;