$bg-color-app: #dedede;
$bg-card-color: #fff;
$header-color: #2a2b2e;

$color-txt: #2a2b2e;
$color-txt-second: #fff;

$border-color: #2a2b2e;
$border-color-card: #62ab37;

$remove-btn: #f10f0f;
$copy-btn: #f18c0f;
$create-btn: #1f41a7;

$error:rgba(228, 67, 67, 0.562);  
$success :rgba(82, 197, 82, 0.788);