.cover-letter {
	@include sizeContainer(100%, 80vh);
	@include centerELement(center, center);
	flex-direction: column;
	position: relative;

	h2 {
		font-size: 1em;
		place-self: flex-start flex-start;
		padding-left: 30px;
	}

	.contentLetter {
		font-size: 0.8em;
	}
}
