.forms-user {
	@include sizeContainer(100%, 60vh);
	@include centerELement(space-around, center);
	flex-direction: column;

	h2 {
		font-size: 1em;
	}

	form {
		@include sizeContainer(250px, 300px);
		@include centerELement(space-around, center);
		margin-top: 50px;
		padding: 0 20px;

		label {
			font-size: 0.8em;
		}

		input[type="submit"] {
			@include sizeContainer(auto, 30px);
			cursor: pointer;

			&:hover {
				background-color: lighten($color: $bg-form-user, $amount: 10%);
				color: $color-txt-second;
				transition: 0.4s;
			}
		}
	}
}
