.create-data,
.copy-btn,
.save-data {
	@include sizeContainer(auto, auto);
	color: $color-txt-second;
	font-size: 1.2em;
	padding: 8px 10px;
	border-radius: 6px;
	cursor: pointer;
}

.create-data {
	background-color: $create-btn;
	&:hover {
		background-color: lighten($create-btn, $amount: 15%);
		transition: 0.4s;
	}
}

.copy-btn {
	background-color: $copy-btn;
	position: absolute;
	top: 2%;
	right: 50px;

	&:hover {
		background-color: lighten($copy-btn, $amount: 15%);
		transition: 0.4s;
	}
}

.save-data {
	background-color: darken($create-btn, $amount: 15%);
	margin-left: 20px;

	&:hover {
		background-color: lighten($create-btn, $amount: 10%);
		transition: 0.4s;
	}
}
