.create-data,
.copy-btn,
.show-working,
.disconnect {
	@include sizeContainer(auto, auto);
	color: $color-txt-second;
	font-size: 1em;
	padding: 8px 10px;
	border-radius: 6px;
	cursor: pointer;
}

.create-data,
.show-working {
	background-color: $create-btn;
	&:hover {
		background-color: lighten($create-btn, $amount: 15%);
		transition: 0.4s;
	}
}

.copy-btn {
	background-color: $copy-btn;

	&:hover {
		background-color: lighten($copy-btn, $amount: 15%);
		transition: 0.4s;
	}
}

.disconnect {
	background-color: $remove-btn;
	position: absolute;
	right: 5%;
	top: 5%;

	&:hover {
		background-color: lighten($remove-btn, $amount: 15%);
		transition: 0.4s;
	}
}

.show-working {
	position: absolute;
	top: 2%;
	right: 5%;
}
