.card {
	@include sizeContainer(auto, 50px);
	@include centerELement(center, center);
	background-color: $bg-card-color;
	border: 2px solid $border-color-card;
	font-size: 1.4em;
	margin: 20px 0 0 20px;
	padding: 0 40px;
	border-radius: 12px;
	position: relative;
	cursor: pointer;

	h2 {
		font-weight: 400;
		font-size: 1em;
	}

	.btn-remove {
		background-color: $remove-btn;
		color: $color-txt-second;
		@include sizeContainer(25px, 25px);
		@include centerELement(center, center);
		position: absolute;
		top: 50%;
		right: 3%;
		transform: translateY(-50%);
		z-index: 1000;
		font-size: 0.6em;
		border-radius: 7px;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: darken($remove-btn, $amount: 10%);
			z-index: 1000;
			transition: 0.4s;
		}
	}

	&:hover {
		background-color: $border-color-card;
		color: $color-txt-second;
		transition: 0.4s;
	}
}

.tooltip {
	@include sizeContainer(100%, auto);
	background-color: $bg-card-color;
	color: $color-txt;
	border-radius: 8px;
	margin-top: 50px;
	padding: 10px;
	position: absolute;
	top: 5%;
	z-index: 2000;
}
