.create-data {
	@include sizeContainer(25%, auto);
	background-color: $create-btn;
	color: $color-txt-second;
	font-size: 1.4em;
	padding: 8px 15px;
	cursor: pointer;

	&:hover {
		background-color: lighten($create-btn, $amount: 15%);
		transition: 0.4s;
	}
}
