.section-form{
    @include sizeContainer(90%, 50%);
    padding : 20px 0 0 35px;
    

    h2{
        font-size: 1.7em;
        text-decoration: underline;
    }

    .formData{
        @include centerELement(center, flex-start);
        flex-direction: column;
        margin: 25px 0;

        label{
            margin: 10px 0;
            font-size: 1.2em;
        }
    }
}