header{
    @include sizeContainer(100%, auto);
    @include centerELement(center, center);
    flex-direction: column;
    padding: 40px 0;
    background-color: $thirdColor;
    color: $white-txt ;
    position: relative;
    
    h1{
        font-style: oblique;
        font-size: 5em;
        letter-spacing: 1.5px;
    }

    p{
        font-size: 1.9em;
    }

    .disconnect{
        margin-top: 15px;
    }
}

