.cover-letter {
	@include sizeContainer(30%, 86vh);
	position: relative;

	h2 {
		margin: 20px 0;
		font-size: 1.4em;
		text-decoration: underline;
	}

	.contentLetter {
		@include sizeContainer(90%, 70vh);
		background-color: #fff;
		word-wrap: break-word;
		padding: 40px;
	}
}
