.cover-letter {
	@include sizeContainer(30%, 86vh);

	.header-letter {
		@include sizeContainer(90%, auto);
		@include centerELement(space-around, center);

		h2 {
			width: 90%;
			margin: 20px 0;
			font-size: 1em;
			text-decoration: underline;
		}
	}

	.contentLetter {
		@include sizeContainer(90%, 70vh);
		background-color: #fff;
		word-wrap: break-word;
		padding: 40px;
	}
}
