.presentation {
	@include sizeContainer(75%, auto);
	text-align: justify;


	h2 {
		font-size: 1.7em;
		text-decoration: underline;
		margin-top: 40px;
	}

	p {
		font-size: 1.4em;
		margin-top: 20px;
	}
}
