* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: benchnineregular, sans-serif;
  background-color: #b5c6d3;
}

h1,
h2,
h3 {
  font-family: medula_oneregular, sans-serif;
}

@font-face {
  font-family: "medula_oneregular";
  src: url("./assets/fonts/medulaone-regular-webfont.woff2") format("woff2"), url("./assets/fonts/medulaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "benchnineregular";
  src: url("./assets/fonts/benchnine-regular-webfont.woff2") format("woff2"), url("./assets/fonts/benchnine-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  .no-display {
    display: none;
  }
}
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background-color: #334756;
  color: #FFF;
  position: relative;
}
header h1 {
  font-style: oblique;
  font-size: 5em;
  letter-spacing: 1.5px;
}
header p {
  font-size: 1.9em;
}

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.home .objectif {
  width: 85%;
  font-size: 3.2em;
  color: #082032;
}
.home .presentation {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-form {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 3%;
  right: 2%;
  transform: scale(1.1);
}
.login-form h2,
.login-form label {
  color: #F0A500;
}
.login-form h2 {
  font-size: 1.6em;
  margin-bottom: 5px;
  font-style: italic;
}
.login-form label {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  width: 100px;
  margin-bottom: 10px;
}
.login-form div input {
  width: 150px;
  height: 20px;
  color: #082032;
}
.login-form .msg-user,
.login-form span,
.login-form a {
  color: #FFF;
  font-size: 1.1em;
  font-style: italic;
}
.login-form a {
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}
.login-form a:hover {
  color: #F0A500;
  transition: 0.3s;
}
.login-form input[type=submit] {
  background-color: #F0A500;
  color: #000000;
  font-size: 0.8em;
  padding: 3px 4px;
  border-radius: 7px;
  cursor: pointer;
  transform: scale(1);
  margin: 3px 0;
}
.login-form input[type=submit]:hover {
  transform: scale(1.1);
  background-color: #ffcb57;
  transition: 0.4s;
}

.explaination {
  width: 85%;
  height: 20vh;
  background-color: #334756;
  position: relative;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #202d36, -5px -5px 5px #466176;
}
.explaination h2,
.explaination article {
  padding: 20px 0 0 30px;
  color: #F0A500;
}
.explaination h2 {
  font-size: 2.5em;
}
.explaination article {
  width: 80%;
  font-size: 1.9em;
}
.explaination aside {
  width: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}
.explaination aside img {
  float: right;
  width: 150px;
}

.signup {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup a img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 6%;
  left: 10%;
}
.signup a img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.signup-form {
  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 20px;
  background-color: #334756;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #202d36, -5px -5px 5px #466176;
  padding-left: 3%;
}
.signup-form h2 {
  width: 85%;
  font-size: 3.2em;
  color: #F0A500;
  font-style: italic;
  letter-spacing: 1px;
}
.signup-form div {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.signup-form div label {
  font-size: 2em;
  color: #F0A500;
  margin-bottom: 5px;
  font-weight: 600;
}
.signup-form div input {
  width: 90%;
  height: 40px;
  color: #082032;
  font-size: 1.1em;
  padding-left: 5px;
}
.signup-form input[type=submit] {
  background-color: #F0A500;
  color: #000000;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  transform: scale(1);
  margin: 3px 0;
}
.signup-form input[type=submit]:hover {
  transform: scale(1.1);
  background-color: #ffcb57;
  transition: 0.4s;
}
.signup-form .msg-user {
  font-size: 1.5em;
  font-style: italic;
  color: #F0A500;
  font-weight: 600;
}

/*# sourceMappingURL=App.css.map */
